In [1]:
import pandas as pd
df = pd.read_csv('listings.csv')
print(df.head(10))
print(df.tail(10))

       id                                           name  host_id  \
0   50904  aplace/antwerp: cosy suite - fashion district   234077
1  116134                  Spacious apartment nearby Mas   586942
2  218916     Apartment with terrace in trendy Zurenborg   915664
3  224333     Large stylish room in 1930s house + garden  1167377
4  224682          APARTMENT ROSCAM - OLD CENTRE ANTWERP  1263933
5  345959                 Marleen's home in Antwerp city  1754396
6  363155            1-bedroom apartment with court yard  1835458
7  366252            ROOM IN FAMILY HOME near C. Station  1820186
8  522693                             Ahome Awayfromhome  2562294
9  636664            sunny rooftop apartment, sleeps 2-5   462975

       host_name  neighbourhood_group                 neighbourhood  \
0          Karin                  NaN            Historisch Centrum
1           Paul                  NaN                      Eilandje
2          Laura                  NaN                     Zurenborg
3          Geert                  NaN              Deurne Zuid West
4       Kristien                  NaN                  Sint-Andries
5        Marleen                  NaN                     Markgrave
6           Roos                  NaN            Amandus - Atheneum
7  Fronk & Lieve                  NaN  Borgerhout Intra Muros Noord
8          Ahome                  NaN            Historisch Centrum
9            Els                  NaN   Borgerhout Intra Muros Zuid

    latitude  longitude        room_type  price  minimum_nights  \
0  51.218575   4.398631       Hotel room    188               1
1  51.230510   4.405930  Entire home/apt    150               2
2  51.206330   4.429420  Entire home/apt     85               1
3  51.197720   4.458530     Private room     16              14
4  51.217220   4.397900  Entire home/apt     97               2
5  51.199350   4.401540  Entire home/apt     60               3
6  51.221190   4.419510  Entire home/apt     68               6
7  51.216010   4.434320     Private room     35               1
8  51.220010   4.398130  Entire home/apt    282               2
9  51.216180   4.430370  Entire home/apt    120               2

   number_of_reviews last_review  reviews_per_month  \
0                  2  2021-10-10               0.02
1                120  2021-12-18               1.00
2                 28  2021-09-05               0.23
3                  3  2021-05-13               0.02
4                349  2021-12-21               2.91
5                 65  2021-12-11               0.55
6                 22  2021-07-28               0.19
7                108  2021-12-19               0.91
8                  2  2017-10-27               0.03
9                 91  2021-11-07               0.80

   calculated_host_listings_count  availability_365  number_of_reviews_ltm  \
0                               4               265                      1
1                               1               287                     18
2                               1                 0                      7
3                               2               328                      1
4                               1               315                     13
5                               2               310                     10
6                               1               349                      2
7                               1               331                      4
8                               1               365                      0
9                               1               362                     10

   license
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
            id                                              name    host_id  \
1739  53898152    Gelijkvloers gezellig appartement in Antwerpen   30914215
1740  53912988    the room with a charming balcony natural light  436739371
1741  53913084  Fantastic apt in centre Antwerpen - Full SERVICE  433116772
1742  53913552  Fantastische loft om in te vertoeven met parking  164785425
1743  53916361       Cosy private room in a charming appartement   79510923
1744  53916524              Industrial spacious loft in Antwerp!   46300712
1745  53928545                Studio in het midden van Antwerpen   74268936
1746  53929354                   Mooi appartement met open haard  334036639
1747  53949105            Kasteel Boterlaerhof vlakbij Antwerpen  377595714
1748  53983318      Infinite luxury stay in the heart of Antwerp  437309332

                   host_name  neighbourhood_group  \
1739                  Wouter                  NaN
1740                   Naser                  NaN
1741  Jean-Paul From HUSWELL                  NaN
1742                  Yassin                  NaN
1743                    Sara                  NaN
1744                 Michael                  NaN
1745                  Jürgen                  NaN
1746                    Joni                  NaN
1747                   Kelly                  NaN
1748                    Desi                  NaN

                     neighbourhood  latitude  longitude        room_type  \
1739  Borgerhout Intra Muros Noord  51.21880    4.44370  Entire home/apt
1740                    Nieuwdreef  51.24336    4.43277     Private room
1741                      Eilandje  51.23480    4.41229  Entire home/apt
1742  Borgerhout Intra Muros Noord  51.21857    4.43535  Entire home/apt
1743         Nieuw - Kwartier Oost  51.19284    4.43540     Private room
1744                      Eilandje  51.23133    4.40352  Entire home/apt
1745                  Sint-Andries  51.21321    4.39708  Entire home/apt
1746                    Haringrode  51.20034    4.42106  Entire home/apt
1747              Deurne Zuid Oost  51.21232    4.48223  Entire home/apt
1748                  Sint-Andries  51.21458    4.39962  Entire home/apt

      price  minimum_nights  number_of_reviews last_review  reviews_per_month  \
1739     60               2                  0         NaN                NaN
1740     20               1                  0         NaN                NaN
1741    231               2                  0         NaN                NaN
1742     50               1                  0         NaN                NaN
1743     27               1                  0         NaN                NaN
1744     70               3                  0         NaN                NaN
1745     39              20                  0         NaN                NaN
1746     90               1                  0         NaN                NaN
1747    990               2                  0         NaN                NaN
1748    120               3                  0         NaN                NaN

      calculated_host_listings_count  availability_365  number_of_reviews_ltm  \
1739                               1               362                      0
1740                               1               365                      0
1741                               1               364                      0
1742                               1               356                      0
1743                               2                87                      0
1744                               1               343                      0
1745                               1               365                      0
1746                               2               360                      0
1747                               1               296                      0
1748                               1               359                      0

      license
1739      NaN
1740      NaN
1741      NaN
1742      NaN
1743      NaN
1744      NaN
1745      NaN
1746      NaN
1747      NaN
1748      NaN

In [3]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [5]:
df.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
count,1.749000e+03,1.749000e+03,0.0,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1525.000000,1749.000000,1749.000000,1749.00000,0.0
mean,3.485506e+07,1.417765e+08,NaN,51.214069,4.413165,110.015437,5.164666,36.013150,1.529534,7.116638,195.221269,9.44311,NaN
std,1.523689e+07,1.286506e+08,NaN,0.013740,0.019373,184.368094,21.434651,62.037251,1.656139,16.040463,138.823228,15.11390,NaN
min,5.090400e+04,2.340770e+05,NaN,51.160084,4.290770,13.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.00000,NaN
25%,2.337286e+07,2.875771e+07,NaN,51.207870,4.400240,60.000000,1.000000,3.000000,0.360000,1.000000,63.000000,0.00000,NaN
50%,3.889829e+07,1.033633e+08,NaN,51.216540,4.409460,78.000000,2.000000,13.000000,0.930000,1.000000,182.000000,3.00000,NaN
75%,4.838954e+07,2.344842e+08,NaN,51.220880,4.424660,115.000000,2.000000,40.000000,2.140000,4.000000,341.000000,12.00000,NaN
max,5.398332e+07,4.373093e+08,NaN,51.349400,4.483470,5800.000000,500.000000,648.000000,12.350000,64.000000,365.000000,143.00000,NaN

In [19]:
# Convert all columns to 'object' type to allow string replacements
df = df.astype('object')

# Replace NaN values with 'M'
df.fillna('M', inplace=True)

# Print the modified DataFrame
print(df)

            id                                           name    host_id  \
0        50904  aplace/antwerp: cosy suite - fashion district     234077
1       116134                  Spacious apartment nearby Mas     586942
2       218916     Apartment with terrace in trendy Zurenborg     915664
3       224333     Large stylish room in 1930s house + garden    1167377
4       224682          APARTMENT ROSCAM - OLD CENTRE ANTWERP    1263933
...        ...                                            ...        ...
1744  53916524           Industrial spacious loft in Antwerp!   46300712
1745  53928545             Studio in het midden van Antwerpen   74268936
1746  53929354                Mooi appartement met open haard  334036639
1747  53949105         Kasteel Boterlaerhof vlakbij Antwerpen  377595714
1748  53983318   Infinite luxury stay in the heart of Antwerp  437309332

     host_name neighbourhood_group       neighbourhood   latitude longitude  \
0        Karin                   M  Historisch Centrum  51.218575  4.398631
1         Paul                   M            Eilandje   51.23051   4.40593
2        Laura                   M           Zurenborg   51.20633   4.42942
3        Geert                   M    Deurne Zuid West   51.19772   4.45853
4     Kristien                   M        Sint-Andries   51.21722    4.3979
...        ...                 ...                 ...        ...       ...
1744   Michael                   M            Eilandje   51.23133   4.40352
1745    Jürgen                   M        Sint-Andries   51.21321   4.39708
1746      Joni                   M          Haringrode   51.20034   4.42106
1747     Kelly                   M    Deurne Zuid Oost   51.21232   4.48223
1748      Desi                   M        Sint-Andries   51.21458   4.39962

            room_type price minimum_nights number_of_reviews last_review  \
0          Hotel room   188              1                 2  2021-10-10
1     Entire home/apt   150              2               120  2021-12-18
2     Entire home/apt    85              1                28  2021-09-05
3        Private room    16             14                 3  2021-05-13
4     Entire home/apt    97              2               349  2021-12-21
...               ...   ...            ...               ...         ...
1744  Entire home/apt    70              3                 0           M
1745  Entire home/apt    39             20                 0           M
1746  Entire home/apt    90              1                 0           M
1747  Entire home/apt   990              2                 0           M
1748  Entire home/apt   120              3                 0           M

     reviews_per_month calculated_host_listings_count availability_365  \
0                 0.02                              4              265
1                  1.0                              1              287
2                 0.23                              1                0
3                 0.02                              2              328
4                 2.91                              1              315
...                ...                            ...              ...
1744                 M                              1              343
1745                 M                              1              365
1746                 M                              2              360
1747                 M                              1              296
1748                 M                              1              359

     number_of_reviews_ltm license
0                        1       M
1                       18       M
2                        7       M
3                        1       M
4                       13       M
...                    ...     ...
1744                     0       M
1745                     0       M
1746                     0       M
1747                     0       M
1748                     0       M

[1749 rows x 18 columns]

In [23]:
# display only the 'host_id', 'price' and 'availability' columns
selected_columns = df[['host_id', 'price', 'minimum_nights', 'availability_365']]
print("\nSelected Columns:")
print(selected_columns)

Selected Columns:
        host_id price minimum_nights availability_365
0        234077   188              1              265
1        586942   150              2              287
2        915664    85              1                0
3       1167377    16             14              328
4       1263933    97              2              315
...         ...   ...            ...              ...
1744   46300712    70              3              343
1745   74268936    39             20              365
1746  334036639    90              1              360
1747  377595714   990              2              296
1748  437309332   120              3              359

[1749 rows x 4 columns]

In [27]:
# rows where the price is > 90
filtered_df = df[df['price'] > 90]

# Selected columns: 'host_id', 'price', and 'availability_365'
selected_columns = filtered_df[['host_id', 'price', 'availability_365']]

# Display the result
print("\nSelected Columns:")
print(selected_columns)

Selected Columns:
        host_id price availability_365
0        234077   188              265
1        586942   150              287
4       1263933    97              315
8       2562294   282              365
9        462975   120              362
...         ...   ...              ...
1734  435722877   120              346
1735  435722877   120              354
1741  433116772   231              364
1747  377595714   990              296
1748  437309332   120              359

[672 rows x 3 columns]

In [29]:
# Sort the filtered DataFrame by 'price' in ascending order
sorted_df = selected_columns.sort_values(by='price', ascending=True)

# Display the result
print("\nSelected Columns Sorted by Price (Ascending):")
print(sorted_df)

Selected Columns Sorted by Price (Ascending):
        host_id price availability_365
1545  177183639    91               79
795   157525654    91              324
81     28902892    91              316
1413   19338306    91               10
1649   57781597    91              349
...         ...   ...              ...
1313  165436938   950              247
1747  377595714   990              296
1150  345009089  1728              363
965   223011600  3200               83
582   118536151  5800               89

[672 rows x 3 columns]

In [31]:
# Save the modified DataFrame to a CSV file
df.to_csv('modified_listings.csv', index=False)

print("Modified DataFrame saved as 'modified_listings.csv'.")

Modified DataFrame saved as 'modified_listings.csv'.

In [1]:
# Zip the CSV file
import zipfile
with zipfile.ZipFile('modified_listings.zip', 'w') as zipf:
    zipf.write('modified_listings.csv')