In [1]:
import pandas as pd
df = pd.read_csv('phone_data.csv')
print(df.head(10))
print(df.tail(10))

   index            date  duration  item    month    network network_type
0      0  15/10/14 06:58    34.429  data  2014-11       data         data
1      1  15/10/14 06:58    13.000  call  2014-11   Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11     Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11      Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11      Tesco       mobile
5      5  15/10/14 18:55     4.000  call  2014-11      Tesco       mobile
6      6  16/10/14 06:58    34.429  data  2014-11       data         data
7      7  16/10/14 15:01   602.000  call  2014-11      Three       mobile
8      8  16/10/14 15:12  1050.000  call  2014-11      Three       mobile
9      9  16/10/14 15:30    19.000  call  2014-11  voicemail    voicemail
     index            date  duration  item    month   network network_type
820    820  08/03/15 06:58    34.429  data  2015-03      data         data
821    821  09/03/15 06:58    34.429  data  2015-03      data         data
822    822  10/03/15 06:58    34.429  data  2015-03      data         data
823    823  11/03/15 06:58    34.429  data  2015-03      data         data
824    824  12/03/15 06:58    34.429  data  2015-03      data         data
825    825  13/03/15 00:38     1.000   sms  2015-03     world        world
826    826  13/03/15 00:39     1.000   sms  2015-03  Vodafone       mobile
827    827  13/03/15 06:58    34.429  data  2015-03      data         data
828    828  14/03/15 00:13     1.000   sms  2015-03     world        world
829    829  14/03/15 00:16     1.000   sms  2015-03     world        world

In [3]:
df[['index', 'date', 'duration', 'item', 'network']]

     index            date  duration  item   network
0        0  15/10/14 06:58    34.429  data      data
1        1  15/10/14 06:58    13.000  call  Vodafone
2        2  15/10/14 14:46    23.000  call    Meteor
3        3  15/10/14 14:48     4.000  call     Tesco
4        4  15/10/14 17:27     4.000  call     Tesco
..     ...             ...       ...   ...       ...
825    825  13/03/15 00:38     1.000   sms     world
826    826  13/03/15 00:39     1.000   sms  Vodafone
827    827  13/03/15 06:58    34.429  data      data
828    828  14/03/15 00:13     1.000   sms     world
829    829  14/03/15 00:16     1.000   sms     world

[830 rows x 5 columns]

In [13]:
# Count the number of "calls", "messages" and "data" in the item column

# Get the count of each unique value in the 'item' column
item_counts = df['item'].value_counts()

# Get the count of 'call'
calls_count = item_counts.get('call', 0)  #  0 if 'call' is not present

# Get the count of 'sms'
messages_count = item_counts.get('sms', 0)  #  0 if 'sms' is not present

# Get the count of 'data'
data_count = item_counts.get('data', 0)  # Default to 0 if 'data' is not present

# Display the counts
print(f"Number of calls: {calls_count}")
print(f"Number of messages: {messages_count}")
print(f"Number of data: {data_count}")

Number of calls: 388
Number of messages: 292
Number of data: 150

In [15]:
# Filter the DataFrame to include only rows where 'item' is 'call'
calls_df = df[df['item'] == 'call']

# Calculate the average duration of calls
average_call_duration = calls_df['duration'].mean()

# Display the result
print(f"Average call duration: {average_call_duration}")

Average call duration: 237.94072164948454

In [17]:
# Filter the DataFrame to include only rows where 'item' is 'call' and 'duration' is greater than 90
long_calls_df = df[(df['item'] == 'call') & (df['duration'] > 90)]

# Display the result
print("Calls with duration over 90:")
print(long_calls_df)

Calls with duration over 90:
     index            date  duration  item    month   network network_type
7        7  16/10/14 15:01     602.0  call  2014-11     Three       mobile
8        8  16/10/14 15:12    1050.0  call  2014-11     Three       mobile
10      10  16/10/14 16:21    1183.0  call  2014-11     Three       mobile
19      19  17/10/14 17:26      92.0  call  2014-11     Three       mobile
21      21  17/10/14 17:30     375.0  call  2014-11     Tesco       mobile
..     ...             ...       ...   ...      ...       ...          ...
806    806  03/03/15 09:59     355.0  call  2015-03     Three       mobile
807    807  03/03/15 10:12     745.0  call  2015-03  Vodafone       mobile
809    809  03/03/15 14:34    1325.0  call  2015-03  Vodafone       mobile
810    810  03/03/15 18:36     768.0  call  2015-03     Three       mobile
816    816  04/03/15 12:29   10528.0  call  2015-03  landline     landline

[173 rows x 7 columns]

In [19]:
# Save the modified DataFrame to a CSV file
df.to_csv('modified_phone_data.csv', index=False)

print("Modified DataFrame saved as 'modified_phone_data.csv'.")

Modified DataFrame saved as 'modified_phone_data.csv'.

In [4]:
# Zip the CSV file
import zipfile
with zipfile.ZipFile('modified_phone_data.zip', 'w') as zipf:
    zipf.write('modified_phone_data.csv')