In [29]:
import pandas as pd
df = pd.read_csv('tolympics.csv')
print("First 10 rows:")
print(df.head(10))
print("Last 5 rows:")
print(df.tail(10))

First 10 rows:
                           0         1     2     3     4      5         6  \
0                        NaN  ? Summer  01 !  02 !  03 !  Total  ? Winter
1          Afghanistan (AFG)        13     0     0     2      2         0
2              Algeria (ALG)        12     5     2     8     15         3
3            Argentina (ARG)        23    18    24    28     70        18
4              Armenia (ARM)         5     1     2     9     12         6
5    Australasia (ANZ) [ANZ]         2     3     4     5     12         0
6  Australia (AUS) [AUS] [Z]        25   139   152   177    468        18
7              Austria (AUT)        26    18    33    35     86        22
8           Azerbaijan (AZE)         5     6     5    15     26         5
9              Bahamas (BAH)        15     5     2     5     12         0

      7     8     9     10       11    12    13    14              15
0  01 !  02 !  03 !  Total  ? Games  01 !  02 !  03 !  Combined total
1     0     0     0      0       13     0     0     2               2
2     0     0     0      0       15     5     2     8              15
3     0     0     0      0       41    18    24    28              70
4     0     0     0      0       11     1     2     9              12
5     0     0     0      0        2     3     4     5              12
6     5     3     4     12       43   144   155   181             480
7    59    78    81    218       48    77   111   116             304
8     0     0     0      0       10     6     5    15              26
9     0     0     0      0       15     5     2     5              12
Last 5 rows:
                                                0   1     2     3     4  \
138                              Uzbekistan (UZB)   5     5     5    10
139                               Venezuela (VEN)  17     2     2     8
140                                 Vietnam (VIE)  14     0     2     0
141                          Virgin Islands (ISV)  11     0     1     0
142                        Yugoslavia (YUG) [YUG]  16    26    29    28
143  Independent Olympic Participants (IOP) [IOP]   1     0     1     2
144                            Zambia (ZAM) [ZAM]  12     0     1     1
145                          Zimbabwe (ZIM) [ZIM]  12     3     4     1
146                        Mixed team (ZZX) [ZZX]   3     8     5     4
147                                        Totals  27  4809  4775  5130

         5   6    7    8    9    10  11    12    13    14     15
138     20   6    1    0    0     1  11     6     5    10     21
139     12   4    0    0    0     0  21     2     2     8     12
140      2   0    0    0    0     0  14     0     2     0      2
141      1   7    0    0    0     0  18     0     1     0      1
142     83  14    0    3    1     4  30    26    32    29     87
143      3   0    0    0    0     0   1     0     1     2      3
144      2   0    0    0    0     0  12     0     1     1      2
145      8   1    0    0    0     0  13     3     4     1      8
146     17   0    0    0    0     0   3     8     5     4     17
147  14714  22  959  958  948  2865  49  5768  5733  6078  17579

In [31]:
# Display summary information
print("\nSummary Information:")
print(df.info)

Summary Information:
<bound method DataFrame.info of                                                 0         1     2     3     4  \
0                                             NaN  ? Summer  01 !  02 !  03 !
1                               Afghanistan (AFG)        13     0     0     2
2                                   Algeria (ALG)        12     5     2     8
3                                 Argentina (ARG)        23    18    24    28
4                                   Armenia (ARM)         5     1     2     9
..                                            ...       ...   ...   ...   ...
143  Independent Olympic Participants (IOP) [IOP]         1     0     1     2
144                            Zambia (ZAM) [ZAM]        12     0     1     1
145                          Zimbabwe (ZIM) [ZIM]        12     3     4     1
146                        Mixed team (ZZX) [ZZX]         3     8     5     4
147                                        Totals        27  4809  4775  5130

         5         6     7     8     9     10       11    12    13    14  \
0    Total  ? Winter  01 !  02 !  03 !  Total  ? Games  01 !  02 !  03 !
1        2         0     0     0     0      0       13     0     0     2
2       15         3     0     0     0      0       15     5     2     8
3       70        18     0     0     0      0       41    18    24    28
4       12         6     0     0     0      0       11     1     2     9
..     ...       ...   ...   ...   ...    ...      ...   ...   ...   ...
143      3         0     0     0     0      0        1     0     1     2
144      2         0     0     0     0      0       12     0     1     1
145      8         1     0     0     0      0       13     3     4     1
146     17         0     0     0     0      0        3     8     5     4
147  14714        22   959   958   948   2865       49  5768  5733  6078

                 15
0    Combined total
1                 2
2                15
3                70
4                12
..              ...
143               3
144               2
145               8
146              17
147           17579

[148 rows x 16 columns]>

In [33]:
# Display column names
print("\nColumn names:")
print(df.columns)

Column names:
Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15'],
      dtype='object')

In [13]:
df.describe

<bound method NDFrame.describe of                                                 0         1     2     3     4  \
0                                             NaN  ? Summer  01 !  02 !  03 !
1                               Afghanistan (AFG)        13     0     0     2
2                                   Algeria (ALG)        12     5     2     8
3                                 Argentina (ARG)        23    18    24    28
4                                   Armenia (ARM)         5     1     2     9
..                                            ...       ...   ...   ...   ...
143  Independent Olympic Participants (IOP) [IOP]         1     0     1     2
144                            Zambia (ZAM) [ZAM]        12     0     1     1
145                          Zimbabwe (ZIM) [ZIM]        12     3     4     1
146                        Mixed team (ZZX) [ZZX]         3     8     5     4
147                                        Totals        27  4809  4775  5130

         5         6     7     8     9     10       11    12    13    14  \
0    Total  ? Winter  01 !  02 !  03 !  Total  ? Games  01 !  02 !  03 !
1        2         0     0     0     0      0       13     0     0     2
2       15         3     0     0     0      0       15     5     2     8
3       70        18     0     0     0      0       41    18    24    28
4       12         6     0     0     0      0       11     1     2     9
..     ...       ...   ...   ...   ...    ...      ...   ...   ...   ...
143      3         0     0     0     0      0        1     0     1     2
144      2         0     0     0     0      0       12     0     1     1
145      8         1     0     0     0      0       13     3     4     1
146     17         0     0     0     0      0        3     8     5     4
147  14714        22   959   958   948   2865       49  5768  5733  6078

                 15
0    Combined total
1                 2
2                15
3                70
4                12
..              ...
143               3
144               2
145               8
146              17
147           17579

[148 rows x 16 columns]>

In [19]:
print(df.isnull().sum())

0     1
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [43]:
df.shape

(148, 16)

In [55]:
# Define new column names
new_column_names = ['Country_Team', 'Summer_01', 'Summer_02', 'Summer_03', 'Summer_Total', 
                    'Winter_01', 'Winter_02', 'Winter_03', 'Winter_Total', 'Games_Total', 
                    'Other_01', 'Other_02', 'Other_03', 'Combined_Total', 'Medals_01',
                    'Medals_02'
                   ]
# Assign new column names to the DataGrame
df.columns = new_column_names
print(df.info)

<bound method DataFrame.info of                                      Country_Team Summer_01 Summer_02  \
0                                             NaN  ? Summer      01 !
1                               Afghanistan (AFG)        13         0
2                                   Algeria (ALG)        12         5
3                                 Argentina (ARG)        23        18
4                                   Armenia (ARM)         5         1
..                                            ...       ...       ...
143  Independent Olympic Participants (IOP) [IOP]         1         0
144                            Zambia (ZAM) [ZAM]        12         0
145                          Zimbabwe (ZIM) [ZIM]        12         3
146                        Mixed team (ZZX) [ZZX]         3         8
147                                        Totals        27      4809

    Summer_03 Summer_Total Winter_01 Winter_02 Winter_03 Winter_Total  \
0        02 !         03 !     Total  ? Winter      01 !         02 !
1           0            2         2         0         0            0
2           2            8        15         3         0            0
3          24           28        70        18         0            0
4           2            9        12         6         0            0
..        ...          ...       ...       ...       ...          ...
143         1            2         3         0         0            0
144         1            1         2         0         0            0
145         4            1         8         1         0            0
146         5            4        17         0         0            0
147      4775         5130     14714        22       959          958

    Games_Total Other_01 Other_02 Other_03 Combined_Total Medals_01  \
0          03 !    Total  ? Games     01 !           02 !      03 !
1             0        0       13        0              0         2
2             0        0       15        5              2         8
3             0        0       41       18             24        28
4             0        0       11        1              2         9
..          ...      ...      ...      ...            ...       ...
143           0        0        1        0              1         2
144           0        0       12        0              1         1
145           0        0       13        3              4         1
146           0        0        3        8              5         4
147         948     2865       49     5768           5733      6078

          Medals_02
0    Combined total
1                 2
2                15
3                70
4                12
..              ...
143               3
144               2
145               8
146              17
147           17579

[148 rows x 16 columns]>